#Data Preprocessing

This notebook is used for explaining the steps involved in creating a K Means Clustering model 

1. Import the required libraries
2. Downloading Facebook Metric Datatset
3. Read the Facebook Metric Dataset
4. Converting the columns to one-hot vectors
5. Removing the NULL values 
6. Normalizing the data

## Import the required libraries

In [1]:
from sklearn.datasets import make_blobs          # This library will generate datapoints 
import numpy as np                               # It is used for linear algebra operations
import matplotlib.pyplot as plt                  # Library used for plotting
import pandas as pd                              # Library used for data manipulation
import math                                      # Library used for mathematical operations
import zipfile                                   # This library will deal with extracting zipfiles

### Downloading Facebook Metric Datatset

In [2]:
!gdown --id 1A7tXUvZD4mOcwhiHhsYDtzInAc2_KmNL          #Importing the data set

Downloading...
From: https://drive.google.com/uc?id=1A7tXUvZD4mOcwhiHhsYDtzInAc2_KmNL
To: /content/dataset_Facebook.zip
100% 15.2k/15.2k [00:00<00:00, 29.8MB/s]

## Read the Facebook Metric Dataset

In [3]:
with zipfile.ZipFile("/content/dataset_Facebook.zip","r") as zip_ref:         #Extracting the data
    zip_ref.extractall("/content")

In [4]:
data_frame = pd.read_csv('dataset_Facebook.csv',delimiter=';')             # Storing the data in a pandas data frame

In [5]:
data_frame                                                                 # Displaying the data frame

     Page total likes    Type  Category  ...    like  share  Total Interactions
0              139441   Photo         2  ...    79.0   17.0                 100
1              139441  Status         2  ...   130.0   29.0                 164
2              139441   Photo         3  ...    66.0   14.0                  80
3              139441   Photo         2  ...  1572.0  147.0                1777
4              139441   Photo         2  ...   325.0   49.0                 393
..                ...     ...       ...  ...     ...    ...                 ...
495             85093   Photo         3  ...    53.0   26.0                  84
496             81370   Photo         2  ...    53.0   22.0                  75
497             81370   Photo         1  ...    93.0   18.0                 115
498             81370   Photo         3  ...    91.0   38.0                 136
499             81370   Photo         2  ...    91.0   28.0                 119

[500 rows x 19 columns]

##Converting the columns to one-hot vectors

**Converting the categorical data of Post Month into one hot vector**

In [6]:
months = pd.get_dummies(data_frame['Post Month'], prefix="Month")   # Converting the Post Month categorical data into multiple one-hot vectors
data_frame = pd.concat([data_frame, months],axis=1)                 # Concatenating the Month one-hot vectors to data_frame
data_frame = data_frame.drop('Post Month',axis=1)                   # Dropping Post Month column

In [7]:
data_frame

     Page total likes    Type  Category  ...  Month_10  Month_11  Month_12
0              139441   Photo         2  ...         0         0         1
1              139441  Status         2  ...         0         0         1
2              139441   Photo         3  ...         0         0         1
3              139441   Photo         2  ...         0         0         1
4              139441   Photo         2  ...         0         0         1
..                ...     ...       ...  ...       ...       ...       ...
495             85093   Photo         3  ...         0         0         0
496             81370   Photo         2  ...         0         0         0
497             81370   Photo         1  ...         0         0         0
498             81370   Photo         3  ...         0         0         0
499             81370   Photo         2  ...         0         0         0

[500 rows x 30 columns]

**Converting the categorical data of Post Weekday into one hot vector**

In [8]:
weekdays = pd.get_dummies(data_frame['Post Weekday'], prefix="Day")         # Converting the Post weekdays categorical data into multiple one-hot vectors
data_frame = pd.concat([data_frame, weekdays],axis=1)                       # Concatenating the weekdays one-hot vectors to data_frame
data_frame = data_frame.drop('Post Weekday',axis=1)                         # Dropping Post Weekday column

In [9]:
data_frame

     Page total likes    Type  Category  Post Hour  ...  Day_4  Day_5  Day_6  Day_7
0              139441   Photo         2          3  ...      1      0      0      0
1              139441  Status         2         10  ...      0      0      0      0
2              139441   Photo         3          3  ...      0      0      0      0
3              139441   Photo         2         10  ...      0      0      0      0
4              139441   Photo         2          3  ...      0      0      0      0
..                ...     ...       ...        ...  ...    ...    ...    ...    ...
495             85093   Photo         3          2  ...      0      0      0      1
496             81370   Photo         2          8  ...      0      1      0      0
497             81370   Photo         1          2  ...      0      1      0      0
498             81370   Photo         3         11  ...      1      0      0      0
499             81370   Photo         2          4  ...      1      0      0      0

[500 rows x 36 columns]

**Converting the categorical data of Post Hour into one hot vector**

In [10]:
hours = pd.get_dummies(data_frame['Post Hour'], prefix="Time")          # Converting the Post Hour categorical data into multiple one-hot vectors
data_frame = pd.concat([data_frame, hours],axis=1)                      # Concatenating the Time one-hot vectors to data_frame
data_frame = data_frame.drop('Post Hour',axis=1)                        # Dropping Post Hour column

In [11]:
data_frame

     Page total likes    Type  Category  ...  Time_20  Time_22  Time_23
0              139441   Photo         2  ...        0        0        0
1              139441  Status         2  ...        0        0        0
2              139441   Photo         3  ...        0        0        0
3              139441   Photo         2  ...        0        0        0
4              139441   Photo         2  ...        0        0        0
..                ...     ...       ...  ...      ...      ...      ...
495             85093   Photo         3  ...        0        0        0
496             81370   Photo         2  ...        0        0        0
497             81370   Photo         1  ...        0        0        0
498             81370   Photo         3  ...        0        0        0
499             81370   Photo         2  ...        0        0        0

[500 rows x 57 columns]

**Converting the categorical data of Category into one hot vector**

In [12]:
categories = pd.get_dummies(data_frame['Category'], prefix="Category")       # Converting the Category categorical data into multiple one-hot vectors
data_frame = pd.concat([data_frame, categories],axis=1)                      # Concatenating the Category one-hot vectors to data_frame
data_frame = data_frame.drop('Category',axis=1)                              # Dropping Category column

In [13]:
data_frame

     Page total likes    Type  Paid  ...  Category_1  Category_2  Category_3
0              139441   Photo   0.0  ...           0           1           0
1              139441  Status   0.0  ...           0           1           0
2              139441   Photo   0.0  ...           0           0           1
3              139441   Photo   1.0  ...           0           1           0
4              139441   Photo   0.0  ...           0           1           0
..                ...     ...   ...  ...         ...         ...         ...
495             85093   Photo   0.0  ...           0           0           1
496             81370   Photo   0.0  ...           0           1           0
497             81370   Photo   0.0  ...           1           0           0
498             81370   Photo   0.0  ...           0           0           1
499             81370   Photo   NaN  ...           0           1           0

[500 rows x 59 columns]

**Converting the categorical data of Type into one hot vector**

In [14]:
types = pd.get_dummies(data_frame['Type'], prefix="Type")                     # Converting the Type categorical data into multiple one-hot vectors
data_frame = pd.concat([data_frame, types],axis=1)                            # Concatenating the Type one-hot vectors to data_frame
data_frame = data_frame.drop('Type',axis=1)                                   # Dropping Type column

In [15]:
data_frame

     Page total likes  Paid  ...  Type_Status  Type_Video
0              139441   0.0  ...            0           0
1              139441   0.0  ...            1           0
2              139441   0.0  ...            0           0
3              139441   1.0  ...            0           0
4              139441   0.0  ...            0           0
..                ...   ...  ...          ...         ...
495             85093   0.0  ...            0           0
496             81370   0.0  ...            0           0
497             81370   0.0  ...            0           0
498             81370   0.0  ...            0           0
499             81370   NaN  ...            0           0

[500 rows x 62 columns]

In [16]:
list(data_frame.columns)

['Page total likes',
 'Paid',
 'Lifetime Post Total Reach',
 'Lifetime Post Total Impressions',
 'Lifetime Engaged Users',
 'Lifetime Post Consumers',
 'Lifetime Post Consumptions',
 'Lifetime Post Impressions by people who have liked your Page',
 'Lifetime Post reach by people who like your Page',
 'Lifetime People who have liked your Page and engaged with your post',
 'comment',
 'like',
 'share',
 'Total Interactions',
 'Month_1',
 'Month_2',
 'Month_3',
 'Month_4',
 'Month_5',
 'Month_6',
 'Month_7',
 'Month_8',
 'Month_9',
 'Month_10',
 'Month_11',
 'Month_12',
 'Day_1',
 'Day_2',
 'Day_3',
 'Day_4',
 'Day_5',
 'Day_6',
 'Day_7',
 'Time_1',
 'Time_2',
 'Time_3',
 'Time_4',
 'Time_5',
 'Time_6',
 'Time_7',
 'Time_8',
 'Time_9',
 'Time_10',
 'Time_11',
 'Time_12',
 'Time_13',
 'Time_14',
 'Time_15',
 'Time_16',
 'Time_17',
 'Time_18',
 'Time_19',
 'Time_20',
 'Time_22',
 'Time_23',
 'Category_1',
 'Category_2',
 'Category_3',
 'Type_Link',
 'Type_Photo',
 'Type_Status',
 'Type_Video']

##Removing the NULL values

 **Function to find columns having null values**

In [17]:
def check_for_columns_with_null_values(data_frame):                 # This function find columns with null values and returns a list of such columns
  column_headers=list(data_frame.columns)                           # To find list of all column headers         
  columns_with_null_values = []                                       
  for c in column_headers:                                          # Iterating over all the columns 
    if(data_frame[c].isnull().values.any()==True):                  # Checking condition for column having null values 
      columns_with_null_values.append(c)                            # Appending column with null values to this list  
  return columns_with_null_values

In [18]:
columns_with_null_values = check_for_columns_with_null_values(data_frame)

In [19]:
columns_with_null_values                         # Display all columns with null values

['Paid', 'like', 'share']

**Replacing the null values with 0 for Paid Column**

In [20]:
sum(data_frame['Paid'].isnull().values)                 # Counting how many rows in 'Paid' column have null values

1

In [21]:
data_frame['Paid'] = data_frame['Paid'].fillna(0)      # Replacing the null values with 0

In [22]:
sum(data_frame['Paid'].isnull().values)                # After replacing null values with 0, we find that no row has null values

0

**Replacing the null values with 0 for Like Column**

In [23]:
sum(data_frame['like'].isnull().values)            # Counting how many rows in 'like' column have null values

1

In [24]:
data_frame['like'] = data_frame['like'].fillna(0)    # Replacing the null values with 0

In [25]:
sum(data_frame['like'].isnull().values)             # After replacing null values with 0, we find that no row has null values

0

**Replacing the null values with 0 for Share Column**

In [26]:
sum(data_frame['share'].isnull().values)         # Counting how many rows in 'share' column have null values

4

In [27]:
data_frame['share'] = data_frame['share'].fillna(0)     # Replacing the null values with 0

In [28]:
sum(data_frame['share'].isnull().values)         # After replacing null values with 0, we find that no row has null values

0

##Normalizing the data

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()                      # For normalizing the features

**Standardizing the features for 'Page total likes' column for various columns using StandardScaler()**

In [30]:
data_frame['Page total likes'] = scaler.fit_transform(np.array(data_frame['Page total likes']).reshape(-1,1))    # Standardizing the features for 'Page total likes' column

In [31]:
data_frame['Page total likes']

0      0.999403
1      0.999403
2      0.999403
3      0.999403
4      0.999403
         ...
495   -2.343746
496   -2.572761
497   -2.572761
498   -2.572761
499   -2.572761
Name: Page total likes, Length: 500, dtype: float64

**Standardizing the other columns**

In [32]:
data_frame['Paid'] = scaler.fit_transform(np.array(data_frame['Paid']).reshape(-1,1))
data_frame['Lifetime Post Total Reach'] = scaler.fit_transform(np.array(data_frame['Lifetime Post Total Reach']).reshape(-1,1))
data_frame['Lifetime Post Total Impressions'] = scaler.fit_transform(np.array(data_frame['Lifetime Post Total Impressions']).reshape(-1,1))
data_frame['Lifetime Engaged Users'] = scaler.fit_transform(np.array(data_frame['Lifetime Engaged Users']).reshape(-1,1))
data_frame['Lifetime Post Consumers'] = scaler.fit_transform(np.array(data_frame['Lifetime Post Consumers']).reshape(-1,1))
data_frame['Lifetime Post Consumptions'] = scaler.fit_transform(np.array(data_frame['Lifetime Post Consumptions']).reshape(-1,1))
data_frame['Lifetime Post Impressions by people who have liked your Page'] = scaler.fit_transform(np.array(data_frame['Lifetime Post Impressions by people who have liked your Page']).reshape(-1,1))
data_frame['Lifetime Post reach by people who like your Page'] = scaler.fit_transform(np.array(data_frame['Lifetime Post reach by people who like your Page']).reshape(-1,1))
data_frame['Lifetime People who have liked your Page and engaged with your post'] = scaler.fit_transform(np.array(data_frame['Lifetime People who have liked your Page and engaged with your post']).reshape(-1,1))
data_frame['comment'] = scaler.fit_transform(np.array(data_frame['comment']).reshape(-1,1))
data_frame['like'] = scaler.fit_transform(np.array(data_frame['like']).reshape(-1,1))
data_frame['share'] = scaler.fit_transform(np.array(data_frame['share']).reshape(-1,1))
data_frame['Total Interactions'] = scaler.fit_transform(np.array(data_frame['Total Interactions']).reshape(-1,1))

**Displaying the final preprocessed data frame**

In [33]:
data_frame

     Page total likes      Paid  ...  Type_Status  Type_Video
0            0.999403 -0.620517  ...            0           0
1            0.999403 -0.620517  ...            1           0
2            0.999403 -0.620517  ...            0           0
3            0.999403  1.611559  ...            0           0
4            0.999403 -0.620517  ...            0           0
..                ...       ...  ...          ...         ...
495         -2.343746 -0.620517  ...            0           0
496         -2.572761 -0.620517  ...            0           0
497         -2.572761 -0.620517  ...            0           0
498         -2.572761 -0.620517  ...            0           0
499         -2.572761 -0.620517  ...            0           0

[500 rows x 62 columns]